{
  "root": true,
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "next/core-web-vitals",
    "prettier",
    "plugin:tailwindcss/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "tailwindcss"],
  "rules": {
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-exports": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "labelComponents": [],
        "labelAttributes": [],
        "controlComponents": [],
        "assert": "either",
        "depth": 25
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": ["function-declaration", "arrow-function"],
        "unnamedComponents": ["function-expression", "arrow-function"]
      }
    ],
    "react/require-default-props": [
      2,
      {
        "functions": "defaultArguments"
      }
    ],
    "@next/next/no-html-link-for-pages": 0,
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "tailwindcss/no-custom-classname": 0
  },
  "settings": {
    "tailwindcss": {
      "callees": ["cn"],
      "config": "tailwind.config.js"
    },
    "next": {
      "rootDir": ["./"]
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser"
    }
  ]
}
